.CharacterFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Character {
  width: 220px;
  height: 220px;
  background-image: linear-gradient(#355fb9, #13b2e2);
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #7c7c7c;
  cursor: pointer;
  filter: grayscale(30%);
  transition: width 0.3s, height 0.3s, filter 0.3s, transform 0.3s;
}

.Character:hover {
  width: 230px;
  height: 230px;
  filter: grayscale(0%);
}

.Character.selected {
  width: 230px;
  height: 230px;
  filter: grayscale(0%);
}

.Character.disable {
  filter: grayscale(50%);
}

.CharacterName {
  font-family: "FCIconic Bold";
  font-size: 30px;
  color: #414141;
  user-select: none;
}
