.LB {
  width: 200px;
  height: 100vh;
  border: none;
  /*border-radius: 10px;*/
  background-image: linear-gradient(#1f1e2be0, #26263394);
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.LBCube {
  margin-top: 20px;
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background-image: linear-gradient(#491386, #69308a);
  color: #ffffff;
}

.LBCubeTitleLetter {
  margin-top: 5px;
  font-family: "FCSubjectRounded";
  font-size: 20px;
  user-select: none;
}

.LBCubeBigLetter {
  margin-top: 20px;
  font-family: "FCHome Bold";
  font-size: 45px;
  user-select: none;
}

.LBCubeSmallLetter {
  margin-top: 20px;
  font-family: "FCHome Bold";
  font-size: 28px;
  user-select: none;
}
